extends ../layout/index

block content
    section 
        h1(class='text-4xl my-10 font-extrabold text-center') Bienes 
            span(class='font-normal') Raices
        h2(class='text-center text-2xl font-bold')=page
        div(class='mt-8 mx-auto max-w-md')
            div(class='bg-white py-8 px-4 shadow border rounded-lg')
                form(action='/auth/signup' method='POST')
                    div
                        label(class='block text-gray-500 text-sm uppercase mb-2 font-bold', for='email') Email
                        input(id='email' class='w-full px-3 py-2 text-gray-700 focus:outline-none border rounded-lg focus:border-indigo-700', type='email', placeholder='Tu Email' name='email')
                    input(class='block w-full mt-4 text-white font-bold bg-indigo-600 hover:bg-indigo-700 py-3 px-4 rounded cursor-pointer', type='submit', value='Recuperar Password')